---
// pages/projects/tempmail-best.astro
import MainLayout from "../../layouts/main.astro";
---

<MainLayout title="TempMail.Best Project">
  <div class="container mx-auto p-6">
    <h1>TempMail.Best</h1>
    <p>Detailed project description goes here...</p>
    <!-- Add more project-specific content -->
  </div>
</MainLayout>
